
.swiper-viewer {
position: absolute;
color: #000;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
